.TimerView {
    width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
    border: 1px solid #000;
    padding: 5%;
    margin: 5% auto;
    background-color: black;
    border: 2px solid greenyellow;
    border-radius: 30px;
}

.TimerView > h1 {
	margin: 1rem;
	text-align: left;
	font-family: monospace;
    font-size: 3rem;
    color: greenyellow;
}

.TimerView > h2 {
    color: white;
}

.TimerView > button {
	padding: 0.5rem 1rem;
    text-align: center;
	border-radius: 10px;
    border: 2px solid transparent;
	color: black;
	font-size: 1rem;
	font-weight: bold;
    margin: 5% 0;
    width: 100px;
}